:root {
    --pink: #ef7998;
    --mainYellow: rgb(249, 228, 148);
    --mainWhite: #fff;
    --mainBlack: #000;
    --yellowTrans: rgba(249, 228, 148, 0.5);
    --grey: #6c757d;
    --lowGrew:#eeeeee;

}

html,
body {
    font-family: 'Kaushan Script';
    /* min-height: 100%; */
    margin: 0;

    font-size: 100%;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.large-pink-font {
    font-size: 4rem;
    color: var(--pink);
}

.strech-max-width {
    left: 0;
    right: 0;
    min-width: 100%;
    top: 0;
}

.center-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.center-child {
    display: table-cell;
    margin-bottom: 20%;
}

.top-nav {
    overflow: hidden;
    height: 4.5rem;
    background-color: var(--mainWhite);
}

.logo-link {
    padding-left: 1rem;
    font-size: 4rem;
}

.max-hight-container {
    height: 70rem;
}

.welcome-container {
    background: linear-gradient(var(--yellowTrans), var(--yellowTrans)), url('/images/welcomeImage.jpeg') center/cover fixed no-repeat;
    position: relative;
    min-height: 50rem;
    min-width: 5%;
}

.title-content {
    color: black;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 100;
}

.force-white {
    color: white !important;
}

/* remove blue highlighting when clicking */
a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

.button-theme {
    background-color: transparent;
    color: black;
    border: black solid 0.1rem;
    text-align: center;
    font-size: 1rem;
    padding: 1% 4% 1% 4%;
    border-radius: 0.3rem;
    font-family: 'Kaushan Script';
}

.force-big-button {
    padding: 0% !important;
    border: black solid 0.2rem !important;
    width: 8.5rem !important;
    font-size: 1.5rem !important;
    line-height: 3.5rem !important;
}

.button-theme:focus {
    background-color: black;
    color: pink;
}

.aboutus-container {
    background-color: white;
    height: 50rem;
    margin-top: 20%;
}

.space-left {
    margin-left: 15%;
    margin-right: 30%;
}

.aboutus-content {
    color: var(--grey);
    font-size: calc(0.7rem + 0.8vw);
    font-weight: 550;
    position: relative;
}


.aboutus-border {
    border: solid 0.6rem;
    border-color: var(--mainYellow);
    width: 100%;
    height: auto;
    max-width: 73%;
    max-height: 40%;
    position: absolute;
    margin-top: -2rem;
    margin-left: 4rem;
    transition: 1s;
}


.aboutus-sweet {
    width: 100%;
    height: auto;
    max-width: 70%;
    max-height: 38%;
    position: absolute;
    vertical-align: middle;
}
#store{
    background-color: var(--lowGrew);
}
.our-store-links{
    display: inline-block !important;
    margin-left: 5%;
    margin-bottom: 5%;
}
.search-bar{
    margin-left: 20%;

}
.search-box{
    width: 20rem;
    height: 2.5rem;
    border: transparent ;
    border-radius: 0.2rem;
}
#search-icon{
    color: black;
    background-color: transparent;
    font-size: 2rem;
    border: none;
}
/* #search-btn{
    
} */
#search-icon-wrapper{
    background-color: var(--pink);
    width: 20rem;
    height: 2.5rem;
    display: inline;
}